@import './base.css';

:root{
  --radius: 15px;
  --yellow: rgb(215, 223, 65);
  --d-yellow: rgb(167, 176, 48);
  --green: rgb(148, 203, 39);
  --d-green: rgb(116, 159, 28);
  --green2: hsla(160, 100%, 37%, 1);
  --emerald: rgb(93, 230, 184);
  --d-emerald: rgba(57, 159, 125, 0.8);
  --orange: rgb(241, 182, 93);
  --d-orange: rgb(255, 38, 0);
  --lightgray: #ddd;
  --lightgray2: #c8c8c8;
  --darkgray: #333;
  --black: #000;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--darkgray);
  background-color:var(--lightgray);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: var(--lightgray2);
  border-radius: var(--radius);
  margin-top: 20px;
  transition: 0.4s;
}

@media screen and (min-width: 1200px) {
  #app {
    min-width: 1200px;
  }
  
}

@media screen and (max-width: 1024px) {
  #app {
    margin-top: 0;
    border-radius: 0;
  }
  
}

.content {
  min-height: 82vh;
}

a,
.green {
  text-decoration: none;
  color: var(--green2);
  transition: 0.4s;
  padding: 3px;
}

.main-page {
  display: grid;
  gap: 1rem;
  width: 100%;
  padding: 5em;
  font-size: 1.5rem;
}

.main-logo-link{
  max-width: fit-content;
  float: left;
  margin-left: 1em;
  transition: 0.4s;
}

.main-logo-link :hover{
  background-color:var(--lightgray);
  color: var(--black);
  padding: 1em;
}

.main-logo{
  max-width: 4em;
  max-height: 3.4em;
  transition: 0.4s;
  border-radius: var(--radius);
}

.navbar {
  background-color: #aaa;
  color: #000;
  overflow: hidden;
  padding: 1rem;
  border-radius: var(--radius);
}

.navbar .nav-link {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: var(--radius);
}

.navbar .nav-link:hover {
  background-color:var(--lightgray);
  color: var(--black);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  background-color: #ccc;
  padding-top: 10em;
}

h1{
  font-size: 2rem;
  margin-top: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: var(--radius);
  margin-bottom: 3em;
}

th{
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color:var(--lightgray);
}

td {
  text-align: left;
  padding: 8px;
}

.details{
  padding-bottom: 2em;
}

.table-details{
  max-width: 40em;
  overflow: hidden;
}

.crear-button{
  background-color: var(--emerald);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.4s;
  padding: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  float: right;
}

.crear-button:hover{
  background-color: var(--d-emerald);
}

.details-button{
  background-color: var(--green);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.4s;
  padding: 0.7em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.details-button:hover{
  background-color: var(--d-green);
}

.edit-button{
  background-color: var(--yellow);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.4s;
  padding: 0.7em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.edit-button:hover{
  background-color: var(--d-yellow);
}

.delete-button{
  background-color: var(--orange);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.4s;
  padding: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.delete-button:hover {
  background-color: var(--d-orange);
}

.creation-form{
padding: 30px;
}

@media screen and (min-width: 1024px) {
.creation-form{
  min-width: 30em;
}
}

.creation-form h1{
  margin-bottom: 0.5em;
}

.creation-form input{
  display: grid;
  gap: 1rem;
  width: 100%;
  padding: 1em;
  background-color: #ccc;
  border-radius: var(--radius);
  margin-bottom: 1em;
} 

.creation-form select{
  display: grid;
  gap: 1rem;
  width: 100%;
  padding: 1em;
  background-color: #ccc;
  border-radius: var(--radius);
  margin-bottom: 1em;
}

.back-button{
  float: left;
  background-color: rgb(215, 223, 65);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.4s;
  padding: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  float: left;
}

.sort-button{
  border: none;
}

.submit-button{
  background-color: rgb(161, 221, 40);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.4s;
  padding: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  float: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
  }
}
